html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  background-color: #1e1e1e;
}

.tabs {
  background: #252526;
  padding: 1px;
  height: clamp(28px, 6vh, 40px);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #252526;
  gap: 0.25rem;
}

.tab {
  background: #2d2d2d;
  color: #cccccc;
  border: none;
  text-align: center;
  border-radius: 1rem;
  padding: 0.35rem 0.75rem;
  gap: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dirty-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffffff;
  flex: 0 0 auto;
  margin-left: 0.2rem;
  margin-top: 1.25%;
}

.tab.active {
  background: #1e1e1e;
  color: #ffffff;
}

.tab .dirty {
  color: #ffffff;
}

.close-button {
  width: 16px;
  height: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 50%;
  margin-top: 1.25%;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  width: 11px;
  height: 1px;
  background: #cdcdcd;
  transform-origin: center;
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover {
  background: #3c3c3c;
}

.close-button:hover::before,
.close-button:hover::after {
  background: #cccccc;
}

.close-button:active::before,
.close-button:active::after {
  background-color: #808080;
}

.add-tab {
  margin-left: 0.2rem;
  width: 21px;
  height: 21px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 50%;
}

.add-tab::before,
.add-tab::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  width: 11px;
  height: 1px;
  background: #ffffff;
  transform-origin: center;
}

.add-tab::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.add-tab::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.add-tab:hover {
  background: #3c3c3c;
}

.add-tab:hover::before,
.add-tab:hover::after {
  background: #cccccc;
}


.cm-editor {
  flex: 1;
  min-height: 92vh;
}

.cm-scroller { overflow: auto; }